Session3/WSCaller/src/foodDBService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.workshop.java.simplon.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.workshop.java.simplon.co/" name="FoodDBService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.workshop.java.simplon.co/" schemaLocation="http://localhost:8081/soap-demo/foodDBService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFoodAttributeById">
<part name="parameters" element="tns:getFoodAttributeById"/>
</message>
<message name="getFoodAttributeByIdResponse">
<part name="parameters" element="tns:getFoodAttributeByIdResponse"/>
</message>
<message name="createFoodAttribute">
<part name="parameters" element="tns:createFoodAttribute"/>
</message>
<message name="createFoodAttributeResponse">
<part name="parameters" element="tns:createFoodAttributeResponse"/>
</message>
<message name="getFoodAttributeListByName">
<part name="parameters" element="tns:getFoodAttributeListByName"/>
</message>
<message name="getFoodAttributeListByNameResponse">
<part name="parameters" element="tns:getFoodAttributeListByNameResponse"/>
</message>
<portType name="FoodDBService">
<operation name="getFoodAttributeById">
<input wsam:Action="http://soap.workshop.java.simplon.co/FoodDBService/getFoodAttributeByIdRequest" message="tns:getFoodAttributeById"/>
<output wsam:Action="http://soap.workshop.java.simplon.co/FoodDBService/getFoodAttributeByIdResponse" message="tns:getFoodAttributeByIdResponse"/>
</operation>
<operation name="createFoodAttribute">
<input wsam:Action="http://soap.workshop.java.simplon.co/FoodDBService/createFoodAttributeRequest" message="tns:createFoodAttribute"/>
<output wsam:Action="http://soap.workshop.java.simplon.co/FoodDBService/createFoodAttributeResponse" message="tns:createFoodAttributeResponse"/>
</operation>
<operation name="getFoodAttributeListByName">
<input wsam:Action="http://soap.workshop.java.simplon.co/FoodDBService/getFoodAttributeListByNameRequest" message="tns:getFoodAttributeListByName"/>
<output wsam:Action="http://soap.workshop.java.simplon.co/FoodDBService/getFoodAttributeListByNameResponse" message="tns:getFoodAttributeListByNameResponse"/>
</operation>
</portType>
<binding name="FoodDBServicePortBinding" type="tns:FoodDBService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFoodAttributeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFoodAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFoodAttributeListByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FoodDBService">
<port name="FoodDBServicePort" binding="tns:FoodDBServicePortBinding">
<soap:address location="http://localhost:8081/soap-demo/foodDBService"/>
</port>
</service>
</definitions>